<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Page</title>
</head>
<body>
    <form align="center" action="/subform" method="POST">
        <input type="text" placeholder="Enter your name" name="nm" size="40"><br><br>
        <input type="number" placeholder="Enter your number" name="number" size="40"><br><br>
        <input type="email" placeholder="Enter your Email" name="email" size="40"><br><br>
        <input type="submit" value="Submit" style="font-size:18px; padding:8px 16px;">
    </form>

    <h3 align="center">Name: {{ formname }}</h3>
    <h3 align="center">Number: {{ formnum }}</h3>
    <h3 align="center">Email: {{ formemail }}</h3>

    <img src="/static/plot.png" alt="plot image">
</body>

</html>


